/*PANTALLAS GRANDES*/

@media  only Screen and (min-width : 1300px){
    .imagewrap {display:inline-block;position:relative; margin-left: 5%; margin-right: 5%; border: 5px solid; size: 300%;}
    .responsiveimg{width: 100%; height: auto; align-items: left;}
    .button1 {position:absolute;bottom:47%;left:2%; border-radius: 50%; opacity: 65%; align-items: center;}
    .button2 {position:absolute;bottom:47%;right:2%; border-radius: 50%; opacity: 65%; align-items: center;}
    

.up{
    width: 100%;
    height: 30px;
}

.flexContainer{
    list-style: none;
    margin-right: 15%;
    margin-left: 15%;

}
.container1{
    float: left;
    width: 50%;
}

.container2 {
    float: left;
    width: 50%;
    text-align: left;
}

.clear { 
    clear: both; 
}

.title{
    font-style: italic;
    font-weight: bold;
    font-family: "Century Gothic",sans-serif;

}

.price{
    font-size: 25px;
    font-weight: 400;
    font-style: italic;
    font-family: "Century Gothic",sans-serif
}


/*Recommended*/

.relatedTittle{
    text-align: center;
    margin-top: 4%;
}

.relatedcontainer{
    width: 100%;
    margin: auto;
    max-width: 600px;
    max-height: 600px;
}

.productrelated{
    float: left;
    width: 50%;
    
}
.relatedImg{
    width: 70%;
    border: 1px solid;
    border-color: black;
}

.relatedInfo{
    text-align: center;
    margin-top: 3%;
    margin-left: -10%;
    margin-right: -10%;
    margin-bottom: 3%;
    color: black;
}
.relatedProductName{
    margin-top: 12%;
    font-size: 17px;
    font-style: italic;
    font-weight: 700;
    font-family: "Century Gothic",sans-serif;
    color: black;
}

.relatedProductPrice{
    font-style: italic;
    font-weight: 400;
    font-family: "Century Gothic",sans-serif;
    font-size: 15.5px;
    color: black;
}



/* Comentarios */

.division{
    border-top: 1px solid gray
}

.score-selected{
    margin-right: 1%;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 5%;
}
.disabled-option{
    color: black;
}
}

/*PANTALLAS PEQUENAS*/


@media  only Screen and (max-width : 1299px){

    .imagewrap {display:inline-block;position:relative; margin-left: 5%; margin-right: 5%; border: 5px solid; size: 300%;}
    .responsiveimg{width: 100%; height: auto; align-items: left;}
    .button1 {position:absolute;bottom:47%;left:2%; border-radius: 50%; opacity: 65%; align-items: center;}
    .button2 {position:absolute;bottom:47%;right:2%; border-radius: 50%; opacity: 65%; align-items: center;}

    .up{
        width: 100%;
        margin-top: 1%;
    }
    
    .flexContainer{
        list-style: none;
        margin-right: 9%;
    }
    .container1{
        width: 100%;
    }
    
    .container2 {
        width: 100%;
        margin: 3%;
    }
    
    .clear { clear: both; }
    
    .fontsize{
        font-size: medium;
    }


    /*Recommended*/

.relatedTittle{
    text-align: center;
    margin-top: 4%;
}

.relatedcontainer{
    width: 100%;
    margin: auto;
    max-width: 600px;
    max-height: 600px;
}

.productrelated{
    float: left;
    width: 50%;
    
}
.relatedImg{
    width: 70%;
    border: 1px solid;
    border-color: black;
}

.relatedInfo{
    text-align: center;
    margin-top: 3%;
    margin-left: -10%;
    margin-right: -10%;
    margin-bottom: 3%;
    color: black;
}
.relatedProductName{
    margin-top: 12%;
    font-size: 17px;
    font-style: italic;
    font-weight: 700;
    font-family: "Century Gothic",sans-serif;
    color: black;
}

.relatedProductPrice{
    font-style: italic;
    font-weight: 400;
    font-family: "Century Gothic",sans-serif;
    font-size: 15.5px;
    color: black;
}
    
    
    
    /* Comentarios */

.division{
    border-top: 1px solid gray
}

#commentaries{
    margin-left: 3%;
}
.score-selected{
    margin-right: 1%;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 5%;
}
.disabled-option{
    color: black;
}

}


a:link, a:visited, a:active {
    text-decoration:none;
}