body {
    background-image: url(../img/loginimg/fondo.png);
    background-position: center;
    background-size: cover;
    Background-repeat: no-repeat;
  }

.listaautos{
    background-color: rgba(0,0,0, 0.6);
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    width: fit-content;
}

.letra{
    color: azure;
}

img.imagenauto{
    width: 8%; height: 8% ;
    float: left;
    margin-bottom: 5%;
}



